html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*////////////////////////////////////////////////////////*/
header{
    width: 98.5%;
    padding: 10px;
    background-color: #373737;
    border-radius: 15px;
    box-shadow: 6px 6px 0px #04a604;
    
}
body{
     background-image: url(image/matrix-live-wallpaper8.gif)
}
nav{
    display: table;
    margin: 20px auto;
    background: linear-gradient(#373737, #373737);
    background: -webkit-linear-gradient(#373737, #373737);
    background:    -moz-linear-gradient(#373737, #373737);
    background:     -ms-linear-gradient(#373737, #373737);
    background:      -o-linear-gradient(#373737, #373737);
    background:         linear-gradient(#373737, #373737);
    border-radius: 3px;
                
}
.navi,.text{
    display: table-cell;
    text-align: center;
}
.menu{
    display: block;
    text-align: center;
    color: rgba(0, 0, 0, .7); 
    text-decoration: none;
    padding: 8px 8px 17px 8px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
    transition: padding .3s;
    position: relative;
}
.menu::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 9px;
    margin-left: -2px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .5);
}
.menu:hover::before,
.menu:focus::before{
    background: white;
    box-shadow: 0 0 2px white, 
                0 -1px 0 rgba(0, 0, 0, .4);
}

.text:first-child a{
    font-family: OCR A Std, monospace;
    font-size: 150%;
    text-shadow: 0.5px 0.5px 0.5px #04a604;
    color: black;
    border-radius: 3px 0 0 3px;
}
.text:nth-child(2) a{
    font-family: OCR A Std, monospace;
    font-size: 150%;
    text-shadow: 0.5px 0.5px 0.5px #04a604;
   color: black;
    border-radius: 3px 0 0 3px;
}
.text:nth-child(3) a{
    font-family: OCR A Std, monospace;
    font-size: 150%;
    text-shadow: 0.5px 0.5px 0.5px #04a604;
   color: black;
    border-radius: 3px 0 0 3px;
}
.text:last-child a{
    font-family: OCR A Std, monospace;
    font-size: 150%;
    text-shadow: 0.5px 0.5px 0.5px #04a604;
    color: black;
    border-radius: 0 3px 3px 0;
}
.menu:hover, 
.menu:focus{
    background: rgba(255,255,255,.2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .7) inset, 
                0 -1px 0 #04a604 inset, 
                0 -2px 0 #04a604 inset, 
                0 -3px 0 #04a604 inset, 
                0 -4px 0 #04a604 inset, 
                0 -5px 0 #04a604 inset;
    padding: 8px 25px 17px 25px;
}
.menu:active{
    background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.1)); 
    box-shadow: 0 0 2px rgba(0,0,0,.3) inset;
}
div{ background-color: #373737;
}

.class
.class{
    background-color: #373737;
    display:column;
    margin: auto;
 }
    
    h1{
       font-family: OCR A Std, monospace;
       font-size: 130%;
        color: black;
    text-shadow: 0.5px 0.5px 0.5px #04a604;
        
    
}

a{
    color: #04a604;
    /*text-shadow: 0.5px 0.5px 0.5px #04a604;*/
}
.titre {
    /*text-shadow: 0.5px 0.5px 0.5px #04a604;*/
    font-family: OCR A Std, monospace;
    font-size: 130%;
    opacity: 1;
    text-align: center;
    display: block;
    margin: 6px 20% 11% 20%;
    padding: 10px;
}

img.img-jo{
    width: 30%;
    height: auto;
}
img.img-code{
    width: 65%;
    height: auto;
}
img.img-footer{
    width: 95%;
    height: auto;
}
h4{
    color: black;
    text-shadow: 0.5px 0.5px 0.5px #04a604;
    
}
img.imagebr{
    width: 100%;
    height: auto;
}
a:hover{
    color: black;
}